*{
	text-align:center;
	margin: 0px;
	padding: 0px;
}
#myVideo{
	height: 400px;
	width: 600px;
}

#myTitle
{
text-align:center;
color:red;
}
#footer {
	width:100%;
	height:300px;
	position:absolute;
	bottom:0;
}